/*
Border is the space around each element
Padding is inside, space between the content and the border
Margin is the space between the element and other margins (other elements)
 */

.top-container {

    background-color: #262929;

    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000;

    display: flex;
    justify-content: right;
}

.top-container .top-button {
    margin-top: 12px;
}

.top-container .sign-in {
    background-color: #33ff83;
    color: black;

    font-style: initial;
    font-size: 13px;
    font-family: "Lucida Console";

    height: 28px;
    width: 75px;
    border-radius: 20px;

    margin-right: 35px;
}

.top-container .sign-in:active {
    background-color: #209c4e;
}

.top-container .profile-picture {
    height: 37px;

    margin-top: 8px;
    margin-right: 15px;
}

